.flippant {
    transform: perspective(500px) rotateY(0deg);
    -webkit-transform: perspective(500px) rotateY(0deg);
    -moz-transform: perspective(500px) rotateY(0deg);
    /*z-index: 200;*/
}

.flippant-back {
    transform: perspective(500px) rotateY(-180deg);
    -moz-transform: perspective(500px) rotateY(-180deg);
    -webkit-transform: perspective(500px) rotateY(-180deg);
    /*z-index: 200;*/
}

.flippant, .flippant-back {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.flippant, .flipper {
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.flippant.flipped {
    transform: perspective(500px) rotateY(180deg);
    -moz-transform: perspective(500px) rotateY(180deg);
    -webkit-transform: perspective(500px) rotateY(180deg);

}

.flippant-back.flipped  {
    transform: perspective(500px) rotateY(0deg);
    -moz-transform: perspective(500px) rotateY(0deg);
    -webkit-transform: perspective(500px) rotateY(0deg);
}
