h1 img {
    height: 40px;
}

#login {
   margin-top: 20px;
}

#login .controls {
    margin-left: 0;
}

#login .help-inline {
    font-size: 14px;
}

.card {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    height: 200px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px;
    background: #eee;
    border: 1px solid #ddd;
    font-size: 24px;
    position: relative;
}

.card span {
    position: absolute;
    top: 80px;
    width: 400px;
    text-align: center;
    left: 0;
}

#language-selection {
    text-align: center;
    margin-bottom: 10px;
}

#direction {
    font-size: 24px;
    text-decoration: none;
    vertical-align: middle;
}

#answer {
    display: block; 
    margin: 0 auto;
    width: 200px;
    margin-top: 10px;
}

.correct {
    color: #1db52e;
}

.wrong {
    color: #b5000e;
}

.loading {
    color: #ccc;
}
